<div class="row" ng-controller="carBlockController as main">
    <div class="col-md-3" style="height:175px;border: solid 1px black;margin-left:12px" >
        <img src="../../images/horse.jpg" width="300px"  height="170px" alt="horse">
    </div>
    <div class="row">
        <div class="col-md-8" align="center" style="border: solid 1px black;height:50px" >
            Имя машины
        </div>
        <div class="col-md-4" style="border: solid 1px black;height:125px">
            Mark: {{car.mark_id}}
            Model: {{car.model_id}}
            Cost: {{car.cost}}
            Year: {{car.year}}
            Fuel: {{car.fuel_id}}
            Transmission: {{car.transmission}}
        </div>
        <div class="col-md-4" style="border: solid 1px black;height:125px">
            ТЕКСТУЛЯ
            <div class="st">  <a href="#"> Подробнее</a> </div>
        </div>

    </div>
</div>