    <div ng-controller="navbarController as main" class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar navbar-fixed-top" style="background-color:yellow"> 
        <div class="row">
           <style>
                a{color:#000000;}
               </style>
            <div class="col-sm-2"></div>
            <div class="col-sm-1">         
                <div style="width:150px;height:50px;background-color:white">
                  <button class="btn-default" style="width:150px;height:50px"> <a href="#"> Главная </a></button>
               </div>
            </div>
            <div class="col-sm-1">
               <div style="width:150px;height:50px;background-color:white">
                 
                  <button class="btn-default" style="width:150px;height:25px"> <a href="#"> Купить авто </a></button>
        <br>      
                  <button class="btn-default" style="width:150px;height:25px"> <a href="#"> Продать авто </a></button>
               </div>
               
            </div>
            <div class="col-sm-1">
                <div style="width:150px;height:50px;background-color:white">
                 
                  <button class="btn-default" style="width:150px;height:25px"> <a href="#"> Купить запчасть </a></button>
        <br>      
                  <button class="btn-default" style="width:150px;height:25px"> <a href="#"> Продать запчасть </a></button>
               </div>
            </div>
            <div class="col-sm-1">
                <div style="width:150px;height:50px;background-color:white">
                  <button class="btn-default" style="width:150px;height:50px"> <a href="#"> Автоуслуги </a></button>
               </div>
            </div>
            <div class="col-sm-1">
                <div style="width:150px;height:50px;background-color:white">
                  <button class="btn-default" style="width:150px;height:50px"> <a href="#"> Принадлежности </a></button>
               </div>
            </div>
            <div class="col-sm-1">
                <div style="width:150px;height:50px;background-color:white">
                  <button class="btn-default" style="width:150px;height:50px"> <a href="#"> Автоновости </a></button>
               </div>
            </div>
            <div class="col-sm-1">
               <div style="width:150px;height:50px;background-color:white">
                  <button class="btn-default" style="width:150px;height:50px"> <a href="#"> Тест-drive </a></button>
               </div>
            </div>
            <div class="col-sm-1">
                <div style="width:150px;height:50px;background-color:white">
                  <button class="btn-default" style="width:150px;height:50px"> <a href="#"> Обзоры владельцев </a></button>
               </div>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
</div>
</div>