    <div ng-controller="navbarController as main" class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar navbar-fixed-top" style="background-color:grey"> 
        <div class="row">
           <style>
                a{color:#000000;}
               </style>
            <div class="col-sm-2"></div>
            <div class="col-sm-1">         
                <div style="width:150px;height:50px;background-color:white">
                 <a href="#/index">
                  <button class="btn-default" style="width:150px;height:50px">Главная</button>
                  </a>
               </div>
            </div>
            <div class="col-sm-1">
               <div style="width:150px;height:50px;background-color:white">
                 <a href="#/buy_car">
                  <button class="btn-default" style="width:150px;height:25px"> Купить авто </button>
                  </a>
        <br>      
                 <a href="#/sell_car">
                  <button class="btn-default" style="width:150px;height:25px">  Продать авто </button>
                  </a>
               </div>
               
            </div>
            <div class="col-sm-1">
                <div style="width:150px;height:50px;background-color:white">
                 <a href="#">
                  <button class="btn-default" style="width:150px;height:25px"> Купить запчасть </button>
                  </a>
        <br>      
                 <a href="#">
                  <button class="btn-default" style="width:150px;height:25px">  Продать запчасть</button>
                  </a>
               </div>
               
            </div>
            <div class="col-sm-1">
                <div style="width:150px;height:50px;background-color:white">
                 <a href="#">
                  <button class="btn-default" style="width:150px;height:50px">  Автоуслуги</button>
                   </a>
               </div>
            </div>
            <div class="col-sm-1">
                <div style="width:150px;height:50px;background-color:white">
                 <a href="#">
                  <button class="btn-default" style="width:150px;height:50px">  Принадлежности </button>
                  </a>
               </div>
            </div>
            <div class="col-sm-1">
                <div style="width:150px;height:50px;background-color:white">
                 <a href="#">
                  <button class="btn-default" style="width:150px;height:50px">  Автоновости</button>
                  </a>
               </div>
            </div>
            <div class="col-sm-1">
               <div style="width:150px;height:50px;background-color:white">
                 <a href="#">
                  <button class="btn-default" style="width:150px;height:50px"> Тест-drive </button>
                  </a>
               </div>
            </div>
            <div class="col-sm-1">
               <a href="#">
                <div style="width:150px;height:50px;background-color:white">
                  <button class="btn-default" style="width:150px;height:50px">  Обзоры владельцев</button>
                  </a>
               </div>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
</div>
</div>