.btn-circle.btn-xl {
    width: 200px;
    height: 200px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 100px;
}
.registration_button{
    margin-left: 33%;
}
div.row{
    margin-right: 0px;
}
.models_list_division{
    margin-left: 20px;
    height:660px;
    -webkit-column-count: 6; /* Chrome, Safari, Opera */
    -moz-column-count: 6; /* Firefox */
    column-count: 6;
    -webkit-column-fill: auto; /* Chrome, Safari, Opera */
    -moz-column-fill: auto; /* Firefox */
    column-fill: auto;
}

.position-button {
    width: 140px;
    margin: 5px;
    padding: 0;
    white-space: pre-line;
}