.form-div{
    top: 30%;
    width: 90%;
    height: 60%;
    margin: auto;
    margin-top: 10%;
    padding: 5%;
    font-size: 150%;
    border: double 1px black;
}
.registration_input_text{
    text-align: center;
    font-size: 120%;
    font-weight: 500;
}
span.wrong{
    font-size: 100%;
    color: red;
}
span.right{
    font-size: 100%;
    color: green;
}