<navbar-block info=""></navbar-block>
<body id="top">
<div class="row" style=" height:28px"> 
</div>
<div class="row">
    <div class="col-md-4" style="border: solid 2px black">
        <form class="form-group" ng-submit="filterCars()">
            <div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>Марка авто:</h2>
                            <select class="smalllat form-control" ng-model="mark_id" ng-change="model_id = null;" required>
                                <option  ng-repeat="mark in Marks" value={{mark.id}}>{{mark.name}}</option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <h2>Модель:</h2>
                            <select class="form-control" ng-model="model_id" required>
                                <option ng-repeat="model in Models| where:{ mark_id: mark_id }" value={{model.id}}>
                                    {{model.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div><br>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-1">

                        </div>
                        <div class="col-sm-2">
                            <h4><b>Год c </b></h4>
                        </div>
                        <div class="col-sm-4">
                            <input type="number" ng-model="year_begin" min="1970" max="2016" class="form-control">
                        </div>
                        <div class="col-sm-1">
                            <h4><b>по</b></h4>
                        </div>
                        <div class="col-sm-4">
                            <input type="number" ng-model="year_end" min={{year_begin}} max="2016" class="form-control">
                        </div>
                    </div>
                </div><br>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-1">

                        </div>
                        <div class="col-sm-4">
                            <h4><b>Двигатель:</b></h4>
                        </div>
                        <div class="col-sm-7">
                            <select class="form-control" ng-model="fuel_id">
                                <option ng-repeat="fuel in Fuels" value="{{fuel.id}}">{{fuel.name}}</option>
                            </select>
                        </div>
                    </div>
                </div><br>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-1">

                        </div>
                        <div class="col-sm-4">
                            <h4><b>Тип кузова:</b></h4>
                        </div>
                        <div class="col-sm-7">
                            <select class="form-control" ng-model="body_id" required>
                                <option ng-repeat="body in Bodies" value="{{body.id}}">{{body.name}}</option>
                            </select>
                        </div>
                    </div>
                </div><br>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-1">

                        </div>
                        <div class="col-sm-4">
                            <h4><b>Коробка передач:</b></h4>
                        </div>
                        <div class="col-sm-7">
                            <select class="form-control" ng-model="transmission">
                                <option value="1">Механическая</option>
                                <option value="2">Автомат</option>
                            </select>
                        </div>
                    </div>
                </div><br>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-1">

                         </div>
                        <div class="col-sm-4">
                            <h4><b>Страна:</b></h4>
                        </div>
                        <div class="col-sm-7">
                            <select class="form-control" ng-model="country_id" ng-change="updateRegions()">
                                <option ng-repeat="country in Countries" value="{{country.id}}">{{country.name}}</option>
                            </select>
                        </div>
                    </div>
                </div><br>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-4">
                            <h4><b>Область:</b></h4>
                        </div>
                        <div class="col-sm-7">
                            <select class="form-control" ng-model="region_id" ng-change="updateCities()">
                                <option ng-repeat="region in Regions" value="{{region.id}}">{{region.name}}</option>
                            </select>
                        </div>
                    </div>
                </div><br>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-4">
                            <h4><b>Город:</b></h4>
                        </div>
                        <div class="col-sm-7">
                            <select class="form-control"ng-model="city_id">
                                <option ng-repeat="city in Cities" value="{{city.id}}">{{city.name}}</option>
                            </select>
                        </div>
                    </div>
                </div><br>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-1">

                        </div>
                        <div class="col-sm-2">
                            <h4><b>Цена c</b></h4>
                        </div>
                        <div class="col-sm-4">
                            <input type="number" min="0" ng-model="min_price" class="form-control">
                        </div>
                        <div class="col-sm-1">
                            <h4><b>до</b></h4>
                        </div>
                        <div class="col-sm-4">
                            <input type="number" min={{min_price}} ng-model="max_price" class="form-control">
                        </div>
                    </div>
                </div><br>
                <div class="container-fluid"><p></p>
                    <b class="biglat">Обмен </b>
                    <input type="checkbox" class="large" name="trade"/>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <input type="submit" value="Найти" class=" form-control btn btn-info">
                        </div>
                        <div class="col-md-6">
                            <input type="submit" value="Очистить фильтр" class="form-control btn btn-danger" ng-click="cleanFilter();">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div> 
    <div class="col-md-8 row" style="height:660px;">
        <div class="col-md-12 models_list_division" ng-if="mark_id">
            <button class="btn btn-default position-button" ng-repeat="model in Models | where:{ mark_id: mark_id }"
                    ng-click="changeModel(model.id)" style="width:190px;height:60px">
                <h4>{{model.name}}</h4>
            </button>
        </div>
    </div>
</div>
 <div class="row" >
    <div class="col-md-4">
        <div class="row">
            <a href="#top">
                <button class="btn btn-default col-sm-3" ng-repeat="mark in Marks.slice(0,78)" onclick="window.scrollTo(0,0);return!1;"
                        ng-click="changeMark(mark.id)">{{mark.name}}
                </button>
            </a>
        </div>
        <div class="row md-padding">
            <div class="col-sm-4 bg-primary" style="text-align: center">
                <h4>Другие</h4>
            </div>
            <div class="col-sm-8" style="top: -20px">
                <md-select ng-model="mark_id" ng-change="model_id = null;">
                    <md-option ng-repeat="mark in Marks.slice(78)" value={{mark.id}}><h4>{{mark.name}}</h4></md-option>
                </md-select>
            </div>
        </div>
    </div>
    <div class="col-md-8" style="border: solid 2px black;height:auto">
        <div class="col-md-12" ng-if="Bodies">
           <div class="row"> 
               <div class="col-md-4">
               </div>
               <div class="col-md-2" style="height:auto;font-size:150%">
                   <p align="right"> Сортировать по :</p>
               </div>
               <div class="col-md-2" >
                   <button class="btn btn-danger" style="width:150px;height:30px;" ng-click="sortByCost()">
                       <span class="glyphicon glyphicon-usd"></span>
                       <strong> Цене</strong>
                   </button>
               </div>
               <div class="col-md-2" >
                   <button class="btn btn-primary" style="width:150px;height:30px;"  ng-click="sortByCreation()">
                       <span class="glyphicon glyphicon-asterisk"></span>
                       <strong>Дате подачи</strong>
                   </button>
               </div>
               <div class="col-md-2" >
                   <button class="btn btn-info" style="width:150px;height:30px;" ng-click="sortByYear()">
                       <span class="glyphicon glyphicon-calendar"></span>
                       <strong>Году выпуска</strong>
                   </button>
               </div>
           </div>
            <div class="conainter" style="height:180px;margin-top:15px" ng-repeat="car in Cars">
                <car-block car="car"></car-block>
            </div>
        </div>
    </div>
</div>
</body>