<navbar-block info=""></navbar-block>
<body id="top">
<div class="row">
    <div class="col-md-4" style="border: solid 2px black">
        <form class="form-group" ng-submit="filterCars()">
            <div class="container-fluid-special" >
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>Марка авто:</h2>
                            <select class="smalllat form-control" ng-model="mark_id" ng-change="model_id = null" required>
                                <option  ng-repeat="mark in Marks" value={{mark.id}}>{{mark.name}}</option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <h2>Модель:</h2>
                            <select class="form-control" ng-model="model_id" required>
                                <option ng-repeat="model in Models" value={{model.id}} ng-if=" model.mark_id == mark_id">{{model.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-1">
                            <input type="checkbox" ng-model="include_year" class="form-control" ng-change="year_begin = year_end = null">
                        </div>
                        <div class="col-sm-2">
                            <h4><b>Год c </b></h4>
                        </div>
                        <div class="col-sm-4">
                            <input type="number" ng-model="year_begin" min="1970" max="2016" class="form-control" required ng-disabled="!include_year">
                        </div>
                        <div class="col-sm-1">
                            <h4><b>по</b></h4>
                        </div>
                        <div class="col-sm-4">
                            <input type="number" ng-model="year_end" min={{year_begin}} max="2016" class="form-control" required ng-disabled="!include_year">
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-1">
                            <input type="checkbox" ng-model="include_fuel" class="form-control" ng-change="fuel_id=null">
                        </div>
                        <div class="col-sm-4">
                            <h4><b>Двигатель:</b></h4>
                        </div>
                        <div class="col-sm-7">
                            <select class="form-control" ng-model="fuel_id" required ng-disabled="!include_fuel">
                                <option ng-repeat="fuel in Fuels" value="{{fuel.id}}">{{fuel.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-1">
                            <input type="checkbox" ng-model="include_body_id" class="form-control" ng-change="body_id = null">
                        </div>
                        <div class="col-sm-4">
                            <h4><b>Тип кузова:</b></h4>
                        </div>
                        <div class="col-sm-7">
                            <select class="form-control" ng-model="body_id" required ng-disabled="!include_body_id">
                                <option ng-repeat="body in Bodies" value="{{body.id}}">{{body.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-1">
                            <input type="checkbox" ng-model="include_transmission" class="form-control">
                        </div>
                        <div class="col-sm-4">
                            <h4><b>Коробка передач:</b></h4>
                        </div>
                        <div class="col-sm-7">
                            <select class="form-control" ng-model="transmission" required ng-disabled="!include_transmission">
                                <option value="1">Механическая</option>
                                <option value="2">Автомат</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-1">
                            <input type="checkbox" ng-model="include_city" class="form-control">
                        </div>
                        <div class="col-sm-4">
                            <h4><b>Страна:</b></h4>
                        </div>
                        <div class="col-sm-7">
                            <select class="form-control" ng-model="country" ng-change="updateRegions()" ng-disabled="!include_city">
                                <option ng-repeat="country in Countries" value="{{country.id}}">{{country.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-4">
                            <h4><b>Область:</b></h4>
                        </div>
                        <div class="col-sm-7">
                            <select class="form-control" ng-model="region" ng-change="updateCities()" ng-disabled="!include_city">
                                <option ng-repeat="region in Regions" value="{{region.id}}">{{region.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-4">
                            <h4><b>Город:</b></h4>
                        </div>
                        <div class="col-sm-7">
                            <select class="form-control" ng-disabled="!include_city" ng-model="city">
                                <option ng-repeat="city in Cities" value="{{city.id}}">{{city.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-1">
                            <input type="checkbox" ng-model="include_price" class="form-control">
                        </div>
                        <div class="col-sm-2">
                            <h4><b>Цена c</b></h4>
                        </div>
                        <div class="col-sm-4">
                            <input type="number" min="0" ng-model="min_price" class="form-control" ng-disabled="!include_price" required>
                        </div>
                        <div class="col-sm-1">
                            <h4><b>до</b></h4>
                        </div>
                        <div class="col-sm-4">
                            <input type="number" min={{min_price}} ng-model="max_price" class="form-control" ng-disabled="!include_price" required>
                        </div>
                    </div>
                </div>
                <div class="container-fluid"><p></p>
                    <b class="biglat">Обмен </b>
                    <input type="checkbox" class="large" name="trade"/>
                </div>
                <div class="container-fluid"><p></p>
                    <input type="submit" value="Найти" class="btn btn-info btn-block">
                </div>
            </div>
        </form>
    </div> 
    <div class="col-md-8 row" style="height:660px;">
        <div class="col-md-12" style="height:660px; " ng-if="mark_id">
            
            <button class="btn btn-default position-button" ng-repeat="model in Models" ng-if="model.mark_id == mark_id"
                    ng-click="changeModel(model.id)" style="width:150px;height:50px">              
                <h4>{{model.name}}</h4> 
            </button>
        </div>
    </div>
</div>
<div class="row" >
    <div class="col-md-4">
        <a href="#top" onclick="window.scrollTo(0,0);return!1;">
            <button class="btn btn-default" ng-repeat="mark in Marks" ng-click="changeMark(mark.id)">{{mark.name}}</button>
        </a>
    </div>
    <div class="col-md-8" style="border: solid 2px black;height:574px">
        <div class="col-md-12" ng-if="Bodies">
            <div class="conainter" style="border: dotted 3px black;height:180px;margin-top:15px" ng-repeat="car in Cars"
                 ng-if="((include_city && car.city_id == city) || !include_city)" >
                <car-block car="car"></car-block>
            </div>
        </div>
    </div>
</div>
</body>