<navbar-block info=""></navbar-block>
<body>
    <div style="margin-top:50px">
        <!--Данные об автомобиле -->
        <div class="row">
            <div class="col-sm-4" style="border-right:2px solid black;border-bottom:2px solid black">
                <p align="center" style="font-size:20px"> {{Cars.current}}</p>
                <p style="font-size:15px"> <input type="text" value="Год выпуска: " style="width:330px;margin-left:10px"> </p>
                <p style="font-size:15px"> <input type="text" value="Тип топлива: " style="width:330px;margin-left:10px"> </p>
                <p style="font-size:15px"> <input type="text" value="Объём: " style="width:210px;margin-left:10px">
                    <span style="margin-left:20px">  <input type="checkbox"> турбо</span> </p>
                <p style="font-size:15px"> <input type="text" value="Количество цилиндров: " style="width:330px;margin-left:10px"> </p>
                <p style="font-size:15px"> <input type="text" value="Трансмиссия: " style="width:330px;margin-left:10px"> </p>
                <p style="font-size:15px"> <input type="text" value="Привод: " style="width:330px;margin-left:10px"> </p>
                <p style="font-size:15px"> <input type="text" value="Тип кузова: " style="width:330px;margin-left:10px"> </p>
                <p style="font-size:15px"> <input type="text" value="Цвет: " style="width:330px;margin-left:10px"> </p>
                <p style="font-size:15px"> <input type="text" value="Пробег: " style="width:330px;margin-left:10px"> </p>
                <p style="font-size:15px"> <input type="text" value="Стоимость: " style="width:330px;margin-left:10px"> </p>
            </div>
            <!-- Фотографии -->
            <div class="col-sm-8" style="border-bottom:2px solid black">
                <div class="row">
                    <div class="col-sm-12">
                        <img src="images/1.png" alt="" style="width:700px;height:285px">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12" style="margin-top:10px">
                        <button class="btn-info"><img src="images/2.png"  style="width:60px;height:50px"></button>
                        <button class="btn-info"><img src="images/1.png"  style="width:60px;height:50px"></button>
                        <button class="btn-info"><img src="images/2.png"  style="width:60px;height:50px"></button>
                        <button class="btn-info"><img src="images/3.png"  style="width:60px;height:50px"></button>
                        <button class="btn-info"><img src="images/2.png"  style="width:60px;height:50px"></button>
                        <button class="btn-info"><img src="images/2.png"  style="width:60px;height:50px"></button>
                        <button class="btn-info"><img src="images/3.png"  style="width:60px;height:50px"></button>
                        <button class="btn-info"><img src="images/2.png"  style="width:60px;height:50px"></button>
                        <button class="btn-info"><img src="images/2.png"  style="width:58px;height:50px"></button>
                    </div>
                </div>
                <div style="margin-top:51px"> </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- Оснащение -->
        <div class="col-sm-4" style="border-right:2px solid black">
            <p align="center" style="font-size:20px"> Оснащение </p>
            <div class="row">
                <div class="col-sm-6">
                    <p align="center" style="font-size:13px">  <strong>     Аудиоборудование</strong> </p>
                    <p align="center" style="font-size:9px"> <img src="images/ok.png"
                                                                  style="width:30px;height:18px;padding-left:10px" > CD/MP3 проигрыватель</p>
                </div>
                <div class="col-sm-6">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <p align="center" style="font-size:13px">  <strong>    Интерьер и экстерьер</strong> </p>
                    <p align="center" style="font-size:9px"> <img src="images/ok.png"
                                                                  style="width:30px;height:18px;padding-left:10px" >       кожаный салон</p>
                </div>
                <div class="col-sm-6">  <br>
                    <p align="center" style="font-size:9px"> <img src="images/ok.png"
                                                                  style="width:30px;height:18px;padding-left:10px;margin-top:9px" >        литые диски   </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <p align="center" style="font-size:13px">  <strong>    Оснащение</strong> </p>
                    <p align="center" style="font-size:9px"> <img src="images/ok.png"
                                                                  style="width:30px;height:18px;padding-left:10px" >       багажник на крыше(релинги)</p>
                    <p align="center" style="font-size:9px"> <img src="images/ok.png"
                                                                  style="width:30px;height:18px;padding-left:10px" >      климат-контроль</p>
                    <p align="center" style="font-size:9px"> <img src="images/ok.png"
                                                                  style="width:30px;height:18px;padding-left:10px" >      противотуманные фары</p>
                </div>
                <div class="col-sm-6"><br>
                    <p align="center" style="font-size:9px"> <img src="images/ok.png"
                                                                  style="width:30px;height:18px;padding-left:10px;margin-top:9px">       гидроусилитель руля  </p>
                    <p align="center" style="font-size:9px"> <img src="images/ok.png"
                                                                  style="width:30px;height:18px;padding-left:10px" >        круиз-контроль  </p>
                    <p align="center" style="font-size:9px"> <img src="images/ok.png"
                                                                  style="width:30px;height:18px;padding-left:10px" >       фаркоп   </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <p align="center" style="font-size:12px"><strong>Противоугонная система</strong> </p>
                    <p align="center" style="font-size:9px"> <img src="images/ok.png"
                                                                  style="width:30px;height:18px;padding-left:10px" >      иммобилайзер</p>
                </div>
                <div class="col-sm-6"><br>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <p align="center" style="font-size:12px">  <strong>    Система безопасности</strong> </p>
                    <p align="center" style="font-size:9px"> <img src="images/ok.png"
                                                                  style="width:30px;height:18px;padding-left:10px" >       ABS(антиблокировочная <br>система)</p>
                    <p align="center" style="font-size:9px"> <img src="images/ok.png"
                                                                  style="width:30px;height:18px;padding-left:10px" >      подушка без-ти пассажира</p>
                    <p align="center" style="font-size:9px"> <img src="images/ok.png"
                                                                  style="width:30px;height:18px;padding-left:10px" >      подушка без-ти оконные</p>
                </div>
                <div class="col-sm-6"><br>
                    <p align="center" style="font-size:9px;margin-top:9px"> <img src="images/ok.png"
                                                                                 style="width:30px;height:18px;padding-left:10px" >   подушка без-ти водителя  </p>
                    <p align="center" style="font-size:9px;margin-top:20px"> <img src="images/ok.png"
                                                                                  style="width:30px;height:18px;padding-left:10px;" >      подушки без-ти боковые  </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <p align="center" style="font-size:13px">  <strong>    Электропакет</strong> </p>
                    <p align="center" style="font-size:9px"> <img src="images/ok.png"
                                                                  style="width:30px;height:18px;padding-left:10px" >       бортовой компьютер</p>
                    <p align="center" style="font-size:9px"> <img src="images/ok.png"
                                                                  style="width:30px;height:18px;padding-left:10px" >       датчик света</p>
                    <p align="center" style="font-size:9px"> <img src="images/ok.png"
                                                                  style="width:30px;height:18px;padding-left:10px" >      обогрев сидений</p>
                    <p align="center" style="font-size:9px"> <img src="images/ok.png"
                                                                  style="width:30px;height:18px;padding-left:10px" >      э/сидения </p>
                    <p align="center" style="font-size:9px"> <img src="images/ok.png"
                                                                  style="width:30px;height:18px;padding-left:10px" >      электропривод зеркал</p>
                </div>
                <div class="col-sm-6"><br>
                    <p align="center" style="font-size:9px;margin-top:9px"> <img src="images/ok.png"
                                                                                 style="width:30px;height:18px;padding-left:10px" >     датчик дождя </p>
                    <p align="center" style="font-size:9px"> <img src="images/ok.png"
                                                                  style="width:30px;height:18px;padding-left:10px" >       обогрев зеркал </p>
                    <p align="center" style="font-size:9px"> <img src="images/ok.png"
                                                                  style="width:30px;height:18px;padding-left:10px" >     центральный замок </p>
                    <p align="center" style="font-size:9px"> <img src="images/ok.png"
                                                                  style="width:30px;height:18px;padding-left:10px" >      электрические стеклоподъёмники  </p>
                </div>
            </div>
        </div>
        <!-- Комментарии -->
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-12" style="margin-top:5px">
                    <textarea type="text" style="width:683px;height:400px;padding-bottom: 265px;padding-left: 5px">Комментарии продавца: </textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2" style="margin-top:3px;border:2px solid black;margin-left:15px" >
                    <p align="center" style="font-size:10px">Город:<br>Михановичи-сити</p>
                </div>
                <div class="col-sm-3" style="margin-top:3px;border:2px solid black;">
                    <p align="center" style="font-size:10px">№ телефона: <br>8 029 111 11 11 </p>
                </div>
                <div class="col-sm-3" style="margin-top:3px;border:2px solid black;">
                    <p align="center" style="font-size:10px">почта: <br>godofverstka@verstalwik.by</p>
                </div>
                <div class="col-sm-3" style="margin-top:3px;border:2px solid black;">
                    <p align="center" style="font-size:10px">skype:<br> verstkaOtDimasika </p>
                </div>
            </div>
        </div>
    </div>
</body>