<navbar-block info=""></navbar-block>
<body>
    <div class="row"><p align="center" style="font-size:50px"><strong> Добавить объявление</strong> </p></div>
    <div class="row"><br>
        <div class="col-sm-4"></div>
        <div class="col-sm-2">
            <p align="center" style="font-size:25px">Марка автомобиля</p>
        </div>
        <div class="col-sm-2">
            <select style="width: 300px;height:30px" class="form-control smalllat" required>
                <option >  </option>
            </select>
        </div>
        <div class="col-sm-4">
        </div>
    </div>
    <div class="row"><br>
        <div class="col-sm-4"></div>
        <div class="col-sm-2">
            <p style="font-size:25px;padding:0px 170px 0px">Модель</p>
        </div>
        <div class="col-sm-2">
            <select style="width: 300px;height:30px" class="form-control smalllat" required>
                <option >  </option>
            </select>
        </div>
        <div class="col-sm-4">
        </div>
    </div>
    <div class="row"><br>
        <div class="col-sm-4"></div>
        <div class="col-sm-2">
            <p style="font-size:25px;padding:0px 220px 0px">VIN</p>
        </div>
        <div class="col-sm-2">
            <input type="text" class="form-control" style="width: 300px;height:30px;font-size:25px">
        </div>
        <div class="col-sm-4">
        </div>
    </div>
    <div class="row"><br>
        <div class="col-sm-4"></div>
        <div class="col-sm-2">
            <p align="right" style="font-size:25px;padding:0px 30px">Год выпуска</p>
        </div>
        <div class="col-sm-2">
            <select style="width: 100px;height:30px" class="form-control smalllat" required>
                <option >  </option>
            </select>
        </div>
        <div class="col-sm-4">
        </div>
    </div>
    <div class="row"><br>
        <div class="col-sm-4"></div>
        <div class="col-sm-2">
            <p align="right" style="font-size:25px;padding:0px 30px">Цвет</p>
        </div>
        <div class="col-sm-2">
            <select style="width: 300px;height:30px" class="form-control smalllat" required>
                <option >  </option>
            </select>
        </div>
        <div class="col-sm-1">
        <p style="font-size:25px" align="center">другой </p>
        </div>
        <div class="col-sm-1">
        <p style="font-size:25px;"><input type=text style="width:210px;height:30px"></p>
        </div>
         <div class="col-sm-2">
        </div>
    </div>
    <div class="row"><br>
        <div class="col-sm-4"></div>
        <div class="col-sm-2">
            <p align="right" style="font-size:25px;padding:0px 28px 0px">Тип двигателя</p>
        </div>
        <div class="col-sm-2">
            <select style="width: 300px;height:30px" class="form-control smalllat" required>
                <option >  </option>
            </select>
        </div>
        <div class="col-sm-4">
        </div>
    </div>
    <div class="row"><br>
        <div class="col-sm-4"></div>
        <div class="col-sm-2">
            <p style="font-size:25px;padding:0px 190px 0px">Объём</p>
        </div>
        <div class="col-sm-1">
            <select style="width: 150px;height:30px" class="form-control smalllat" required>
                <option >  </option>
            </select>
        </div>
        <div class="col-sm-3">
            <p style="font-size:15px;margin-right:100px">(Например 2 200) <input class="form-control" type="checkbox"> <span style="font-size:20px;padding:0px 10px 0px">Турбо</p></span>
        </div>
         <div class="col-sm-2">
        </div>
    </div>
    <div class="row"><br>
        <div class="col-sm-4"></div>
        <div class="col-sm-2">
            <p style="font-size:25px;padding:0px 140px 0px">Цилиндров</p>
        </div>
        <div class="col-sm-2">
            <input type="text" class="form-control" style="width: 80px;height:30px;font-size:25px">
        </div>
        <div class="col-sm-4">
        </div>
    </div>
    <div class="row"><br>
        <div class="col-sm-4"></div>
        <div class="col-sm-2">
            <p align="right" style="font-size:25px;padding:0px 20px 0px">Тип кузова</p>
        </div>
        <div class="col-sm-2">
            <select style="width: 300px;height:30px" class="form-control smalllat" required>
                <option >  </option>
            </select>
        </div>
        <div class="col-sm-4">
        </div>
    </div>
    <div class="row"><br>
        <div class="col-sm-4"></div>
        <div class="col-sm-2">
            <p style="font-size:25px;padding:0px 190px 0px">Пробег</p>
        </div>
        <div class="col-sm-1">
            <input type="text" style="width: 150px;height:30px;font-size:25px">
        </div>
        <div class="col-sm-1">
            <select style="width: 135px;height:30px" class="form-control smalllat" required>
                <option > км. </option>
            </select>
        </div>
        <div class="col-sm-4">
        </div>
    </div>
    <div class="row"><br>
        <div class="col-sm-4"></div>
        <div class="col-sm-2">
            <p align="right" style="font-size:25px;padding:0px 20px 0px">Трансмиссия</p>
        </div>
        <div class="col-sm-2">
            <select style="width: 300px;height:30px" class="form-control smalllat" required>
                <option >  </option>
            </select>
        </div>
        <div class="col-sm-4">
        </div>
    </div>
    <div class="row"><br>
        <div class="col-sm-4"></div>
        <div class="col-sm-2">
            <p style="font-size:25px;padding:0px 190px 0px">Привод</p>
        </div>
        <div class="col-sm-2">
            <select style="width: 300px;height:30px" class="form-control smalllat" >
                <option >  </option>
            </select>
        </div>
        <div class="col-sm-4">
        </div>
    </div>
    <div class="row"><br>
        <div class="col-sm-4"></div>
        <div class="col-sm-2">
            <p style="font-size:25px;padding:0px 210px 0px">Класс</p>
        </div>
        <div class="col-sm-2">
            <select style="width: 300px;height:30px" class="form-control smalllat" required>
                <option >  </option>
            </select>
        </div>
        <div class="col-sm-4">
        </div>
    </div>
    <div class="row"><br>
        <div class="col-sm-4"></div>
        <div class="col-sm-2">
            <p style="font-size:25px;padding:0px 220px 0px">Цена</p>
        </div>
        <div class="col-sm-1">
            <input type="text" style="width: 150px;height:30px;font-size:25px">
        </div>
        <div class="col-sm-1">
            <select style="width: 135px;height:30px" class="form-control smalllat" required>
                <option >  $ </option>
            </select>
        </div>
        <div class="col-sm-4">
        </div>
    </div>
    <div class="row"><br>
        <div class="col-sm-4"></div>
        <div class="col-sm-2">
            <p style="font-size:25px;padding:0px 210px 0px">Обмен</p>
        </div>
        <div class="col-sm-2">
            <input class="form-control" type="checkbox">
        </div>
        <div class="col-sm-4">
        </div>
    </div>
    
    
    <!-- Фото -->
    <div class="container photoAdd">
       <div class="row">
           <div class="col-sm-12">
               <br>
           </div>
       </div>
        <div class="row ">
            <div class="col-sm-4" style="border: solid 2px black"
                 ngf-drop="uploadFiles($files)" class="drop-box"
                 ngf-drag-over-class="'dragover'" ngf-multiple="true"
                 ngf-pattern="'image/*'" ngf-max-size="10MB">
                Тащи сюда
            </div>
            <div class="col-sm-5">
                <button style="border: 0; background: chartreuse;color:white"
                        class="button" ngf-select="uploadFiles($files)" multiple="multiple" ngf-pattern="'image/*'"
                        ngf-accept="'image/*'" ngf-max-size="20MB">
                    <img src="../../images/photo.png" width="50" height="50" alt="" />
                        <span style="font-size:20px">
                            Загрузить фотографии
                        </span>
                </button>
            </div>
            <md-progress-linear ng-if="progressValue" md-mode="determinate" value="{{progressValue}}"></md-progress-linear>
        </div>
        <div>
            <img ng-repeat="image in Images" ng-src={{image.url}}>
        </div>
        <div class="row ">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-8">
                Допускается загрузка не более 10 фотографий в формате JPG и PNG размером не более 10МБ
            </div>
        </div>
        <div class="row">
           <div class="col-sm-12">
               <br>
           </div>
        </div>
    </div>
    
    <!--Доп. параметры -->
    <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-3">
     <p style="font-size:25px;padding:50px 0px 0px">Дополнительные параметры</p>       
        </div>
        <div class="col-sm-7">         
        </div>
    </div><br>
    
    <div class="row">
       <div class="col-sm-1"></div>
        <div class="col-sm-3">
<strong>Аудиооборудование</strong><br>
       <input type="checkbox"> CD чейнджер <br>
       <input type="checkbox"> CD-проигрыватель<br>
       <input type="checkbox"> CD/mp3 проигрыватель<br>
       <input type="checkbox"> TV<br>
       <input type="checkbox"> кассетная магнитола<br>
       <input type="checkbox"> сабвуфер<br>
        </div>
        <div class="col-sm-2">
        </div>
        <div class="col-sm-3">
        <strong>Противоугонная система</strong><br>
        <input type="checkbox"> иммообилайзер <br>
       <input type="checkbox"> сигнализация<br>
        </div>
        <div class="col-sm-3"></div>
    </div> 
    
    <div class="row newStep1">
       <div class="col-sm-1"></div>
        <div class="col-sm-3">
<strong>Интерьер и экстерьер</strong><br>
       <input type="checkbox"> велюровый салон<br>
       <input type="checkbox"> кожаный салон <br>
       <input type="checkbox"> литые диски<br>
       <input type="checkbox"> отделка под дерево<br>
        </div>
        <div class="col-sm-2">
        </div>
        <div class="col-sm-3">
        <strong>Система безопасности</strong><br>
        <input type="checkbox"> ABS(антиблокировочная система) <br>
       <input type="checkbox"> EBD(система э/распределения тормозных усилий)<br>
       <input type="checkbox"> EBS(система помощи при экстренном торможении) <br>
       <input type="checkbox"> ESP(система поддержания динамической стабильности)<br>
       <input type="checkbox"> HAS(система контроля подъёма в гору) <br>
       <input type="checkbox"> HDC(система контроля спуска с горы)<br>
       <input type="checkbox"> антипробуксовочная система <br>
       <input type="checkbox"> парктроник<br>
       <input type="checkbox"> подушка безопасности <br>
        </div>
        <div class="col-sm-3"></div>
    </div>
    
     <div class="row newStep1">
       <div class="col-sm-1"></div>
        <div class="col-sm-3">
<strong>Оснащение</strong><br>
       <input type="checkbox"> гидроусилитель руля<br>
       <input type="checkbox"> климат-контроль<br>
       <input type="checkbox"> кондиционер<br>
       <input type="checkbox"> круиз-контроль<br>
       <input type="checkbox"> ксеноновые фары<br>
       <input type="checkbox"> люк<br>
       <input type="checkbox"> навигация<br>
       <input type="checkbox"> фаркоп<br>
        </div>
        <div class="col-sm-2">
        </div>
        <div class="col-sm-3">
        <strong>Электропакет</strong><br>
        <input type="checkbox"> бортовой компьютер <br>
       <input type="checkbox"> датчик дождя<br>
       <input type="checkbox"> датчик света <br>
       <input type="checkbox"> обогрев зеркала<br>
       <input type="checkbox"> обогрев сидений <br>
       <input type="checkbox"> центральный замок<br>
       <input type="checkbox"> э/сидения <br>
       <input type="checkbox"> электр.стеклоподъёмники<br>
       <input type="checkbox"> электропривод зеркал <br>
        </div>
        <div class="col-sm-3"></div>
    </div>
    
    <!-- Данные о продавце -->
    <div class="row newStep1">
       <div class="col-sm-1">
       </div>
       <div class="col-sm-2">
       <strong> <span style="font-size:20px">Данные о продавце</span></strong>
       </div>
        <div class="col-sm-3"><br><br>
            Страна <select style="width: 310px;height:30px" class="smalllat" required>
                <option >  </option>
            </select><br>
           <br> Область <select style="width: 300px;height:30px" class="smalllat" required>
                <option >  </option>
            </select> <br>
           <br> Город <select style="width: 320px;height:30px" class="smalllat" required>
                <option >  </option>
            </select> <br>
        </div>
        <div class="col-sm-6"></div>  
    </div>
    
    <!-- Контактные телефоны -->
    <div class="row newStep1">
        <div class="col-sm-1"></div>
        <div class="col-sm-2">
           <strong> <span style="font-size:20px">Контактные телефоны</span></strong>
        </div>
    </div>
    
    <div class="row "><br>
        <div class="col-sm-1"></div>
        <div class="col-sm-11">
           <strong> <span style="font-size:15px">Тел.</span></strong>
           <select style="width: 200px;height:30px" class="smalllat" required>
                <option >(+375) Беларусь  </option>
            </select>
            <select style="width: 120px;height:30px" class="smalllat" required>
                <option > --- </option>
            </select>
            <input type=text style="width: 130px;height:30px" placeholder="Код" >
            <input type=text style="width: 130px;height:30px"placeholder="Телефон">
        </div>
    </div>
    <br>
    <div class="row">
       <div class="col-sm-1"></div>
        <div class="col-sm-2"> 
            <p style="font-size:20px;">  <input type=text style="width: 300px;height:30px" placeholder="Почта:" ></p>
        </div>
        <div class="col-sm-2"> 
      <p style="font-size:20px;">  <input type=text style="width: 300px;height:30px" placeholder="Skype:" ></p>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
        <p style="font-size:18px;">    Дополнительная информация       
                   <input type=text style="width: 600px;height:120px" maxlength="350"></p>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-3">
            <img src="../../images/horse.jpg"width="230px"  height="110px" alt="">  <button class="btn btn-danger"> обновить изображение </button>
        </div>
    </div><br>
    
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-4">
            Символы на картинке  <input type=text style="width: 300px;height:30px"placeholder="Введите код с картинки">
        </div>
    </div><br>
    
       <div class="row">
           <div class="col-sm-2"></div>
           <div class="col-sm-3">
          <p style="font-size:18px;">    <input type="checkbox"> Я согласен с правилами подачи объявлений </p>
           </div>
       </div>
       
       <div class="row">
           <div class="col-sm-2"></div>
           <div class="col-sm-2">
               <button class="btn btn-default">Опубликовать</button>
           </div>
       </div>
        
    
    
    
    
    
    
    
    
    
</body>